 <!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">¡Contáctanos!</h2>
                <hr class="divider my-4">
                <p class="text-muted mb-5">
                    ¿Tienes una idea para mejorar tu espacio? ¿Quieres disminuir tu consumo de energía? ¿Te interesa la tecnología y quieres tenerla mas presente en tu día a día?
                    Para lo que sea que necesites en el mundo de hogares inteligentes, ¡puedes contar con nosotros! Envíanos tus necesidades a nuestra casilla de correo, Whatsapp o Facebook. Te contestaremos con gusto para proponerte ideas y ofrecerte soluciones.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>+52 (331) 839 7192</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in anchor text AND the link below! -->
                <br /><a class="email" href="mailto:daniel.larios@whihome.com.mx">daniel.larios@wihome.com.mx</a>
            </div>
        </div>
        <hr class="divider my-4">
        <br /><div class="container">
            <div style="text-align:center">
                <p>Dejanos un mensaje, nosotros te contactaremos a la brevedad.</p>
            </div>
            <div class="row-contact">
                <div class="column-contact">
                    <form action="/action_page.php">
                        <input class="form-control" type="text" id="fullname" name="fullname" placeholder="Tu nombre completo...">
                        <input class="form-control" type="text" id="email" name="email" placeholder="Tu correo electrónico...">
                        <input class="form-control" type="text" id="tel" name="tel" placeholder="Tu teléfono...">
                        <label for="contact">Donde prefieres que te contactemos?</label>
                        <select class="form-control" id="contact" name="contact">
                            <option value="emailoption">Correo Electrónico</option>
                            <option value="teloption">Teléfono/Whatsapp</option>
                        </select>
                    </form>
                </div>
                <div class="column-contact">
                    <form action="/action_page.php">
                        <textarea class="form-control" id="subject" name="subject" placeholder="Escribe tu mensaje aqui..." style="height:170px"></textarea>
                        <input type="submit" value="Submit" disabled>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="bg-light py-5">
    <div class="container">
        <hr class="divider my-4">
        <div class="small text-center text-muted">Copyright &copy; 2020 - WiHome</div>
    </div>
</footer>
