<div class=" social-bar">
    <a href="https://www.facebook.com/WiHomeOficial/" class="icon icon-facebook" target="_blank"></a>
    <a href="https://twitter.com/home_oficial" class="icon icon-twitter" target="_blank"></a>
    <a href="" class="icon icon-youtube" target="_blank"></a>
    <a href="https://www.instagram.com/wihome_oficial/?hl=es-la" class="icon icon-instagram" target="_blank"></a>
</div>
